header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.uni-head{
    color: #53524e;
    font: 12px Nunito Sans;
    font-weight: 500;
    line-height: 15px;
}
.sec-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
    padding: 20px 0;
}
.sec-head img{
    width: 23px;
}
.title{
    margin: 0;
    font: 23px "Times new roman";
    font-weight: 700;

}
.top-right{
    display: flex;
}
.search,.bagg{
    margin: 0 6px;
}
.count{
    color: white;
    position: absolute;
    top: 72px;
    right: 62px;
    background-color: rgb(195, 195, 101);
    font: 12px Nunito Sans;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.title{
    padding: 0 0 0 41px;
}